/* border: solid 3px magenta;
    font-family: 'Montserrat', sans-serif; */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;;
    font-weight: regular;
    color: #404040;
    line-height: 1.6;
}

h1, h2 {
    color: #000;
    line-height: 1.4;
}

img {
    display: block;
    min-width: 100%;
    object-fit: cover;
}

strong {
    font-weight: 700;
}

/* =============================================
================================================
Navigation
================================================ */

.header {
    background-color: #000;
}

.header>* {
    grid-column: 2 / -2;
}

.navi-bar {
    display: flex;
}

.navi-bar .logo {
    padding-top: 3em;
}

.logo-link {
    background-color: #FFE600;
}

.navi {
    position: fixed;
    background-color: #000;
    width: 100%;
    /* top: 0; */
    /* right: 0; */
    /* inset: 0; */
    height: 100%;
    left: 100%;
    /* border: solid 3px magenta; */
    transform: translate(0);
    transition-property: transform;
    transition-duration: 300ms;
}

.navi-opening {
    transform: translate(-100%, 0);
}

.navi-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* border: solid 3px greenyellow; */
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.navi-link {
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 5px;
}

.navi-link:focus,
.navi-link:hover {
    color: #FFE600;
}

.current-page {
    border-bottom: solid 3px #FFE600;
}

.close-btn {
    position: absolute;
    padding: .5em;
    font-size: 3rem;
    font-weight: 700;
    border: 0;
    background: none;
    color: #FFE600;
    cursor: pointer;
}

.open-btn {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #FFF;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
    /* border: solid 3px magenta; */
    padding: .5em;
}

@media all and (min-width: 600px){
    .close-btn,
    .open-btn {
        display: none;
    }
    .navi {
        position: initial;
    }
    .navi-menu{
        flex-direction: row;
        justify-content: start;
    }
    .navi-item {
        margin-left: 2em;
    }
    .navi-link {
        font-size: inherit;
    }
}


/* =============================================
================================================
General Layout
================================================ */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(320px,900px) minmax(1em,1fr);
    column-gap: 1em;
}

/* =============================================
================================================
Navigation
================================================ */

