/* border: solid 3px magenta;
    font-family: 'Montserrat', sans-serif; */


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;;
    font-weight: regular;
    color: #404040;
    line-height: 1.6;
}

h1, h2 {
    line-height: 1.4;
}


h2 {
    color: #000;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

strong {
    font-weight: 700;
}

.framed-img {
    box-shadow: 7px 6px #000, 14px 12px #FFE600;
    margin: 2em auto 3em auto;
}

/* =============================================
================================================
Typography
================================================ */

/* ============= Hero ======================= */

.hero-title {
    font-size: 1.5rem;
}

.hero-title span {
    color: #FFE600;
}

.hero-subtitle {
    font-size: 1.125rem;
    margin: 0 0 2.25em;
    /* border: solid 3px magenta; */
}

.btn {
    font-size: .875rem;
    background-color: #FFE600;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.btn-prime {
    letter-spacing: 1px;
    justify-self: start;
    padding: 1em 2em;
}

/* ============= Info ======================= */

.info-subtitles {
    font-size: 1.125rem;
}

.info-subtitles::after {
    content: "";
    display: block;
    background-color: #FFE600;
    width: 20%;
    height: 4px;
    margin-top: .5em;
}

.home-main .info-subtitles::after {
    margin: .35em auto 0;
}
    

/* ============= Footer ======================= */

.footer-fineprint {
    font-size: .875rem;
    color: rgba(0, 0, 0, .5);
}

.social-link {
    font-size: 2rem;
    color: rgba(0, 0, 0, .5);
    padding: .35em;
}

.social-link:focus,
.social-link:hover {
    color: rgba(0, 0, 0, 1);
}

/* ============= About ======================= */

.top-title {
    font-size: 3rem;
    margin-bottom: .25em;
}

.top-title::after {
    content: "";
    display: block;
    background-color: #FFE600;
    height: .55em;
    position: relative;
    z-index: -10;
    bottom: .7em;
    left: .25em;
}

.top-subtitle {
    font-size: 1.125rem;
    font-weight: 700;
    /* margin: 0 20% 1.125rem;  
    Save for @media */
    margin: 0;
}

@media all and (min-width: 600px){
    .top-subtitle {
        margin: 0 20%;
    }
    .top-subtitle::after {
        content: "";
        display: block;
        background-color: #000;
        height: 2px;
        width: 80px;
        margin: .75em auto 0;
    }
}

/* =============================================
================================================
Navigation
================================================ */

.header {
    background-color: #000;
}

.header-home {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.header>* {
    grid-column: 2 / -2;
}

.navi-bar {
    display: flex;
}

.logo-link {
    background-color: #FFE600;
}

.navi-bar .logo {
    padding-top: 3em;
}

.navi {
    position: fixed;
    background-color: #000;
    width: 100%;
    /* top: 0; */
    /* right: 0; */
    /* inset: 0; */
    height: 100%;
    left: 100%;
    /* border: solid 3px magenta; */
    transform: translate(0);
    transition-property: transform;
    transition-duration: 300ms;
}

.navi-opening {
    transform: translate(-100%, 0);
}

.navi-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* border: solid 3px greenyellow; */
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.navi-link {
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 5px;
}

.navi-link:focus,
.navi-link:hover {
    color: #FFE600;
}

.current-page {
    border-bottom: solid 3px #FFE600;
}

.close-btn {
    position: absolute;
    padding: .5em;
    font-size: 3rem;
    font-weight: 700;
    border: 0;
    background: none;
    color: #FFE600;
    cursor: pointer;
}

.open-btn {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #FFF;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
    /* border: solid 3px magenta; */
    padding: .5em;
}

@media all and (min-width: 600px){
    .close-btn,
    .open-btn {
        display: none;
    }
    .navi {
        position: initial;
    }
    .header-home .navi {
        background-color: transparent;
    }
    .navi-menu{
        flex-direction: row;
        justify-content: start;
    }
    .navi-item {
        margin-left: 2em;
    }
    .navi-link {
        font-size: inherit;
    }
}


/* =============================================
================================================
General Layout
================================================ */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em,1fr) repeat(3, minmax(auto,300px)) minmax(1em,1fr);
    column-gap: 2em;
}

/* ============= Hero ======================= */

.hero {
    background-color: #000;
    background-image: url(../img/hero-bg.jpg);
    background-position: 57%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    padding: 8em 0 5em;
}

.hero>* {
    grid-column: 2 / 4;
    margin-right: 10%;
}

@media all and (min-width: 600px){
    .hero {
        padding: 10em 0 8em;
        background-position: center;
    }
}

/* ============= Info ======================= */

.info {
    padding: 4em 0 4em;
}

.info>* {
    grid-column: 2 / -2;
}

.info-arti {
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
}

@media all and (min-width: 600px){
    .info-arti:first-child {
        grid-column: 2;
    }
    .info>* {
        grid-column: span 1;
    }
}

/* ============= Footer ======================= */

.footer {
    grid-template-areas: 
    ". soci soci soci ."
    ". ftex ftex ftex .";
    background-color: #EBEBEB;
    padding: 4em 0 4em;
}

.footer>* {
    grid-column: 2 / -2;
}

.footer .logo {
    /* grid-area: logo; */
    /* justify-self: start; */
    /* min-width: 0; */
    /* max-width: 100%; */
    margin: 0 auto;
}

.footer-main {
    text-align: center;
    grid-area: ftex;
    opacity: .5;
}

.footer-text {
    margin-bottom: 4em;
}

.footer-social {
    grid-area: soci;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.social-item {
    margin: 0 .75em;
}

.social-link {
    text-decoration: none;
}

@media all and (min-width: 600px){
    .footer {
        grid-template-areas: 
        ". ftex ftex soci ."
        ". ftex ftex soci .";
        /* padding: 4em 0 4em; */
    }
    .footer-main {
        text-align: left;
    }
    .footer .logo {
        margin: 0 auto 0 0;
    }
    .footer-social {
        justify-content: end;
    }
    .social-item {
        margin: 0 0 0 1.5em;
    }
}

/* ============= About ======================= */

.main-top {
    text-align: center;
    justify-items: center;
}

.main-top>* {
    grid-column: 2 / -2;
}

.about-main .info-arti {
    text-align: left;
}

@media all and (min-width: 600px){
    .about-main .info-arti {
        grid-column: 3 / span 2;
        margin-left: 2em;
    }
    .framed-img {
        grid-area: 1/2/3/3;
        min-height: 120px;
        object-position: left;
    }
}

/* =============================================
================================================

================================================ */

